<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>ec2metadata</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="ec2metadata.css">
  <!-- jquery for status checks -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
  function getSeconds() {
    var currentDate = new Date();
    var totalSeconds = 0;
    totalSeconds += currentDate.getSeconds();
    totalSeconds += 60*(currentDate.getMinutes());
    totalSeconds += 60*60*(currentDate.getHours());
    return totalSeconds;
  }
  function getLocalTime() {
    var curr = new Date();
    return curr.getHours() + ":" + curr.getMinutes() + ":" + curr.getSeconds();
  }
  $(document).ready(function(){
    $.ajax(
      '/check', {
        success: function(data,stat,xhr) {
          // alert("Success " + stat)
        },
        error: function(data,stat,xhr) {
          $('div.container').first().prepend(data.responseText)
        }
      }
    );

    var other_time = <%= getRTimeSec() %>;
    var time_difference = Math.abs(other_time - getSeconds());
    if (time_difference > 10) {
      var local_t = getLocalTime();
      var server_t = <%= getServerTime() %>;
      $('div.container').first().prepend(
        "<div class='checkfail'>\
          <h4><em>Times do not match.</em></h4>\
          <p>Local Time: " + local_t + ".<br/>Server Time: " + server_t + ".</p>\
          <p>Mismatch of " + time_difference + " seconds.</p>\
        </div>"
      )
    }
  })
  </script>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">ec2metadata</a>
      </div>
    </div>
  </nav>
  <div class='maincontent'>
    <%= yield %>
  </div>
</div><!-- container -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
