<html>
<head>
<title>ec2metadata: profile selection</title>
</head>
<body>
<h1>ec2metadata</h1>
<p>ec2metadata supports multiple profiles which are discovered from <code>~/.aws/credentials</code>.  Select the profile here and it will be used to authorize future requets 
listing and assuming the roles and discovering your MFA token's serial.
</p>
 
<p>The profile's credentials are not exposed to consumers of the meta-data endpoints from AWS SDKs.  Only assumed roles are exposed to the applications.  </p>


<div id='assumerole'>
<h2>Profile Selection</h2>

<form method='POST' action='/profile'>
<label for=profile>Profile:</label> <select name='profile' >
    <% profiles.each do |profile| 
      %><option value='<%= profile %>'><%= profile %></option>
    <% end %>
    <option value=''>Unset Profile</option>
    </select>
<p>If you enter MFA below, a session token for this profile can be used 
in lieu of an MFA token for role assumption later.  This token can be good for 
as much as one day (86400 seconds).
</p>
<p>
MFA: <input type=number name='profile_mfa'></input>
</p>
<p>
Duration (Seconds): <input type=number name='profile_mfa_time' value='86400'></input>
</p>
<p>
<input type=submit>Select</input>
</p>
</form>

</body>
</html>
