    <div id='assumerole'>
    <h2>Profile Selection</h2>

    <form method='POST' action='/profile'>
    <label for=profile>Profile:</label> <select name='profile' >
        <% profiles.each do |profile|
          %><option value='<%= profile %>'><%= profile %></option>
        <% end %>
        <option value=''>Unset Profile</option>
        </select>
    <p>If you enter MFA below, a session token for this profile can be used
    in lieu of an MFA token for role assumption later.  This token can be good for
    as much as one day (86400 seconds).
    </p>
    <p>
    MFA: <input type=number name='profile_mfa'></input>
    </p>
    <p>
    Duration (Seconds): <input type=number name='profile_mfa_time' value='86400'></input>
    </p>
    <p>
    <input type='checkbox' checked='checked' name='listroles' id='listroles'> <label for='listroles'>List Roles</label>
    </p>   
    <p>
    <input type=submit>Select</input>
    </p>
    </form>
  </div>
