/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
table tr td {
  vertical-align: top;
}
.checkfail {
  background-color: #fcc;
  border: red;
  margin: 0.7em;
  padding: 0.3em;
}

div.profilelist {
  display: flex;
  flex-direction: column;
}

div.profile div.prof, div.profile div.role {
  border: solid 1px black;
  border-radius: 3px;
  padding: 0.3em;
  margin: 0.7em
}

div.profilelist div.profile {
  display: flex
}
